.question {
    border: 2px solid black;
    padding: 10px;
    margin: 10px auto;
    width: 800px;
    border-radius: 10px;
}

.question-page {
    border: 2px solid black;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
}

h1 {
    margin: 10px auto;
}

.question:hover {
    cursor: pointer;
    border-color: #003cff;
}


ul {
    list-style: none;
}