<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leave Answer</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script th:src="@{/js/main.js}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <h2 th:text="${question.body}"></h2>
            <form method="post">
                <div class="form-group">
                    <label for="answer">Your answer here</label>
                    <textarea class="form-control" name="answer" id="answer" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>