<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a href="/question/create" class="btn btn-outline-success my-2 my-sm-0" type="submit">Ask Your Question</a>
        </form>
    </div>
</nav>


<ul>
    <th:block th:each="question : ${questions}">
        <li>
            <!--th:onclick="getQuestion([[${question.id}]])"-->
            <div class="question" >
                <h2 th:text="${question.title}"></h2>
                <span>Read Count <span th:text="${question.readCount}"></span></span> ||
                <span>Answers Count <span th:text="${question.answersCount}"></span></span>
                <br />
                <a th:href="@{'/question/see/'+${question.id}}">view</a> ||
                <a th:href="@{'/question/update/'+${question.id}}">update</a> ||
                <a th:href="@{'/question/delete/'+${question.id}}">delete</a>
            </div>
        </li>
    </th:block>
</ul>


<th:block th:fragment="js_files">
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/jquery-3.2.1.slim.min.js}"></script>
</th:block>
<!--<section th:include="~{parts :: js_files}"></section>-->
</body>
</html>